In [2]:
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

make sure to rename the columns by removing é

# Exploratory Data Analysis (EDA) for Packages and Receptacle Datasets

In [6]:
# Load datasets
packages_df = pd.read_csv('../data/raw/packages_data_2023_2025.csv',delimiter=';')
receptacle_df = pd.read_csv('../data/raw/receptacle_data_2023_2025.csv',delimiter=';')

In [7]:
# Rename for consistency
receptacle_df.rename(columns={
    'EVENT_TYPECD': 'EVENT_TYPE_CD',
    'nextetablissement_postal': 'next_etablissement_postal'
}, inplace=True)

In [8]:
packages_df.shape, receptacle_df.shape

((1000000, 6), (1000000, 5))

In [9]:
packages_df.head(n=10)

,RECPTCL_FID,MAILITM_FID,date,etablissement_postal,EVENT_TYPE_CD,next_etablissement_postal
0,USORDADZALGDAUN30050001900005,0000420016941,2023-07-04 05:00:00.000,NaN,12,ETAB_2389
1,USORDADZALGDAUN30050001900005,0000689914049,2023-07-04 05:00:00.000,NaN,12,ETAB_2389
2,USORDADZALGDAUN30050001900005,0000700051000,2023-07-04 05:00:00.000,NaN,12,ETAB_2389
3,USORDADZALGDAUN30102003900026,0031069949200,2023-12-04 05:00:00.000,NaN,12,ETAB_2389
4,FRCDGADZALGDAUN40553006010061,1A02349441537,2024-12-19 11:05:00.000,NaN,12,ETAB_2389
5,FRCDGADZALGDAUN32487005010095,1A09158628029,2023-12-01 07:45:00.000,NaN,12,ETAB_2389
6,FRCDGADZALGDAUN32105001010038,1A09165695052,2023-03-18 08:55:00.000,NaN,12,ETAB_2389
7,FRCDGADZALGDAUN40272001010036,1A10720195245,2024-06-23 08:45:00.000,NaN,12,ETAB_2389
8,FRCDGADZALGDAUN32073001000051,1A12468884825,2023-02-23 08:55:00.000,NaN,12,ETAB_2389
9,FRCDGADZALGDAUN32253004010019,1A15581857998,2023-06-21 05:45:00.000,NaN,12,ETAB_2389

In [10]:
packages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RECPTCL_FID                1000000 non-null  object
 1   MAILITM_FID                1000000 non-null  object
 2   date                       1000000 non-null  object
 3   etablissement_postal       973228 non-null   object
 4   EVENT_TYPE_CD              1000000 non-null  int64
 5   next_etablissement_postal  411733 non-null   object
dtypes: int64(1), object(5)
memory usage: 45.8+ MB

In [11]:
receptacle_df.head(n=10)

,RECPTCL_FID,date,etablissement_postal,EVENT_TYPE_CD,next_etablissement_postal
0,AEDXBADZAAEDACN45001001100219,2024-07-24 22:40:00.000,ETAB_0001,107,ETAB_0030
1,AEDXBADZAAEDACN45001001100219,2024-07-26 16:18:34.623,ETAB_0002,130,NaN
2,AEDXBADZAAEDACN45001001100219,2024-07-26 16:23:22.207,ETAB_0002,132,ETAB_0003
3,AEDXBADZAAEDACN45001001100219,2024-07-28 13:04:36.387,ETAB_0003,132,ETAB_0033
4,AEDXBADZAAEDACN45002001100075,2024-07-27 22:40:00.000,ETAB_0001,107,ETAB_0030
5,AEDXBADZAAEDACN45002001100075,2024-07-28 15:48:40.283,ETAB_0002,130,NaN
6,AEDXBADZAAEDACN45002001100075,2024-07-28 15:59:01.350,ETAB_0002,132,ETAB_0003
7,AEDXBADZAAEDACN45002001100075,2024-07-30 09:42:01.093,ETAB_0003,103,ETAB_0033
8,AEDXBADZAAEDACN45003001100123,2024-07-29 15:09:53.093,ETAB_0002,130,NaN
9,AEDXBADZAAEDACN45003001100123,2024-07-29 15:12:43.660,ETAB_0002,132,ETAB_0003

In [12]:
receptacle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RECPTCL_FID                1000000 non-null  object
 1   date                       1000000 non-null  object
 2   etablissement_postal       998889 non-null   object
 3   EVENT_TYPE_CD              1000000 non-null  int64
 4   next_etablissement_postal  576148 non-null   object
dtypes: int64(1), object(4)
memory usage: 38.1+ MB

In [13]:
for column in packages_df.columns:
    print(f'{column} has {packages_df[column].nunique()} unique values.')
    print(f'{column} has {packages_df[column].isnull().sum()} null values.')
    print("\n")

RECPTCL_FID has 45306 unique values.
RECPTCL_FID has 0 null values.


MAILITM_FID has 212731 unique values.
MAILITM_FID has 0 null values.


date has 849213 unique values.
date has 0 null values.


etablissement_postal has 2825 unique values.
etablissement_postal has 26772 null values.


EVENT_TYPE_CD has 24 unique values.
EVENT_TYPE_CD has 0 null values.


next_etablissement_postal has 2716 unique values.
next_etablissement_postal has 588267 null values.

In [14]:
for column in receptacle_df.columns:
    print(f'{column} has {receptacle_df[column].nunique()} unique values.')
    print(f'{column} has {receptacle_df[column].isnull().sum()} null values.')
    print("\n")

RECPTCL_FID has 215867 unique values.
RECPTCL_FID has 0 null values.


date has 694907 unique values.
date has 0 null values.


etablissement_postal has 50 unique values.
etablissement_postal has 1111 null values.


EVENT_TYPE_CD has 17 unique values.
EVENT_TYPE_CD has 0 null values.


next_etablissement_postal has 9 unique values.
next_etablissement_postal has 423852 null values.

In [15]:
packages_df.describe()

        EVENT_TYPE_CD
count  1000000.000000
mean        27.271583
std         12.326209
min          1.000000
25%         30.000000
50%         32.000000
75%         36.000000
max         73.000000

In [16]:
receptacle_df.describe()

        EVENT_TYPE_CD
count  1000000.000000
mean       130.512065
std         22.059407
min        100.000000
25%        107.000000
50%        131.000000
75%        132.000000
max        178.000000

In [27]:
# Merge datasets on RECPTCL_FID to analyze relationship
merged_df = pd.merge(
    packages_df,
    receptacle_df,
    on='RECPTCL_FID',
    how='right',
    suffixes=('_package', '_receptacle')
)

In [28]:
merged_df.shape

(4673370, 10)

In [29]:
#number of packages per receptacle
packages_per_receptacle = packages_df.groupby('RECPTCL_FID')['MAILITM_FID'].nunique()
packages_per_receptacle.describe()

count    45306.000000
mean         4.892928
std         11.515501
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max        339.000000
Name: MAILITM_FID, dtype: float64

In [ ]:
# TODO: Further EDA to highlight patterns, trends, and anomalies in the data.

### Summary of datasets

#### Data dictionary for packages dataset

**RECPTCL_FID** : Receptacle ID (Container) The ID of the bag or sack that contains this specific parcel

**MAILITM_FID** : Mail Item ID (Parcel) The unique tracking number of the parcel

**date** : The exact date and time the event happened

**etablissement_postal**: Current Location The code of the facility where the event occurred

**EVENT_TYPE_CD**: event code indicating what happened

**next_etablissement_postal**: Next Hop / Destination

#### Data dictionary for receptacle dataset
**RECPTCL_FID** : Receptacle ID The unique ID of the bag itself.

**date** : The exact date and time the event happened

**etablissement_postal** : Current Location Where the bag is right now.

**EVENT_TYPECD** : Event Code same as above

**nextetablissement_postal** : Next Hop / Destination


**one receptacle can contain many MailItems (packages).**<br>

_In practice, workers often scan only the Receptacle to save time, so some tracking events exist at the bag level but not at the individual parcel level._<br>

This is a standard logistics parent–child relationship:<br>
receptacle_data (**parent**): bag-level events keyed by RECPTCL_FID.<br>
packages_data (**child**): parcel-level events keyed by MAILITM_FID, with RECPTCL_FID linking each parcel to its bag.